@font-face {
    font-family: Domine;
    src: url("assets/webfonts/Domine-Regular.ttf")  format('truetype');
}

@font-face {
  font-family: Jersey_25;
  src: url("assets/webfonts/Jersey25-Regular.ttf") format('truetype');
}
@font-face {
  font-family: 'Josefin_Sans';
  src: url('assets/webfonts/JosefinSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Josefin_Sans_Bold';
  src: url('assets/webfonts/JosefinSans-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
.nav_menu {
  width: 100%;
  margin-bottom: 3rem;
  padding: 10px;
  border: 1px solid #ddd;
  display: flex;
  background: #fff;
  margin: 10px 0;
}
.nav_menu li a {
  margin-right: 10px;
  color: #333 !important;
}

.footer_section {
  margin-top: 3rem;
  background: #FFF;
  padding: 1rem 2rem;
}
